* {
  box-sizing: border-box;
}

body {
  font-family: 'Hind',sans-serif;
  color: #a6a7aa;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.promo-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  width: 100%;
  height: 661px;
  object-fit: cover;
}

a {
  font-family: 'Hind';
  font-weight: 600;
  color: #81848f;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Hind';
  color: #515769;
}
