<header class="header">
  <div class="container">
    <nav class="header__navbar">
      <a href="#"><img class="header__logo" src="img/logo.png"  alt="Out logotype"></a>
      <ul class="header__menu-list">
        <li><a href="#" class="header__menu-link" data-scroll="home">Home</a></li>
        <li><a href="#" class="header__menu-link" data-scroll="about">About</a></li>
        <li><a href="#" class="header__menu-link" data-scroll="experience">Experience</a></li>
        <li><a href="#" class="header__menu-link" data-scroll="works">Work</a></li>
        <li><a href="#" class="header__menu-link" data-scroll="contact">Contact</a></li>
      </ul>
    </nav>
    <button class="header__menu-btn--hidden btn btn--active" type="button" name="button">
      <span></span>
    </button>
  </div>
</header>
